<div class="container">
  <div class="row">
    <div class="col">
      <div class="card-cocktail">
        <img src="https://cdn.shopify.com/s/files/1/1556/2685/files/beautysmothie_large.jpg?v=1494332381" />
        <div class="card-cocktail-infos">
          <div>
            <h2> <%= @cocktail.name%> </h2>
            <p> <%= @cocktail.description%> </p>
            <% @doses.each do |dose|  %>
            <p> <%= dose.description %> </p>
            <% end %>
          </div>
          <h2 class="card-cocktail-pricing"><i class="fas fa-cocktail"></i></h2>
        </div>
      </div>
      <%= link_to "Home", root_path, class: "btn redirect" %>

      <%= render 'doses/new' %>
    </div>
  </div>
</div>

